/*
 * Title: To Do List CSS file
 */
/* Iteration-1: set a property box-sizing: border-box for universal selector such that it allows us to include the padding and border in an element's total width and height.*/
* {
  box-sizing: border-box;
}
body {
  background-color: rgb(238, 93, 93);
}

.container {
  background: whitesmoke;
  /* Iteration-2 : give a property display block such that container such that element fills the entire line */
  display: block;
  padding: 25px;
  max-width: 80%;
  height: 30em;

   /* Iteration-3: give margin top and bottom to 12% and left and right to auto*/
  margin: 12% auto;
  overflow: hidden;
  border-radius: 10px;
  border: 4px solid #b1c9bb;
  font-family: sans-serif;
  border-radius: 10%;
}

h1,
h2 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #b1c9bb;
  padding: 0 0 10px;
  color: #57635c;
}
.add-new{
  font-weight: bold;
  font-size:25px;
  display:block;
  margin-bottom: 10px;
}
.input-box{
  height:35px;
  width:250px;
  margin-right: 10px;
}
.task-button{
  border: 2px solid red;
  /* Iteration-4: give a padding such that top and bottom inbox spacing to 8px and left and right to 20px */
  padding:8px 20px;
  color:white;
  background-color:red;
  font-size:12px;
  font-weight:bold;
  border-radius: 3px;
  
}
.logo {
  /* Iteration-5: set the widht to 100% of its parent element*/
  width: 100%;
  text-align: center;
}

.logo img {
  
  width: 100px;
}

.new-task-container {
  text-align: center;
}

.box {
  padding: 10px 15px;
  border: 2px solid #b1c9bb;
  border-radius: 5px;
  background: #fff;
  /* Iteration-6: set a property such that its top and bottom margin to 15px*/
  margin: 15px 0;
}

.box-1 {
  padding: 20px 5%;
  border: 2px solid #b1c9bb;
  border-radius: 5px;
  background: #fff;
  margin: 15px 0;
}
.todo-list {
  float: left;
  width: 46%;
}

.complete-list {
  float: right;
  width: 46%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  border-bottom: 1px dotted #ccc;
}

.update {
  float: right;
  background-color: blue;
  color: white;
  border: 0px;
  padding: 3px 5px;
}

.delete {
  float: right;
  background-color: red;
  color: white;
  border: 0px;
  padding: 3px 5px;
}
